    .centre {
      margin: 0 auto;
      max-width: 1920px;
    }
    
    .indent {
      margin: 0 19.7% 0 19.7%;
    }
    
    h1 {
      display: none;
    }
    
    header {
      height: 80px;
      display: flex;
      align-items: center;
    }
    
    .nav__ul {
      display: flex;
      align-items: center;
    }
    
    .nav__ul li {
      margin-right: 35px;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      color: #000000;
    }
    
    li a {
      text-decoration: none;
    }
    
    li a:link,
    li a:active,
    li a:visited {
      color: #000000;
    }
    
    .about {
      text-shadow: #70CB0E 0px 0px 2px;
      pointer-events: none;
    }
    
    figure {
      margin: 0;
    }
    
    .background-section1 {
      background-position: center;
      top: 0;
      background-color: rgb(102, 200, 251);
      background-image: url(../assets/background-panda.png);
      height: 700px;
      width: 100%;
      background-repeat: no-repeat;
      top: 0;
    }
    
    .section1__text {
      margin-top: 130px;
      max-width: 570px;
      font-family: 'Noto Sans KR', sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 70px;
      line-height: 120%;
      letter-spacing: 0.02em;
      color: #000000;
    }
    
    button {
      background: #70CB0E;
      border: 0;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px 60px;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      height: 50px;
    }
    
    .section1__button {
      margin-top: 50px;
      width: 233px;
    }
    
    .button__img-play {
      background: url(../assets/button-image-play.svg);
      width: 14px;
      height: 15px;
      margin: 0px 6px;
    }
    
    .section2 {
      justify-content: center;
    }
    
    .section3__title,
    .section2__title,
    .section4__title,
    .section5__title {
      margin-top: 100px;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 47px;
      text-align: center;
      color: #000000;
    }
    
    .section2__slider {
      margin: 30px auto 0px;
      display: flex;
      justify-content: center;
      background: url(../assets/background-slider.png);
      height: 550px;
      background-repeat: no-repeat;
      background-position: center;
    }
    
    .eagle {
      z-index: 0;
      height: 350px;
      width: 250px;
    }
    
    .tiger {
      z-index: 1;
      height: 400px;
      width: 300px;
    }
    
    .panda {
      z-index: 2;
      height: 450px;
      width: 350px;
    }
    
    .monkey {
      z-index: 1;
      height: 400px;
      width: 300px;
    }
    
    .elephant {
      z-index: 0;
      height: 350px;
      width: 250px;
    }
    
    .eagle,
    .tiger,
    .panda,
    .monkey,
    .elephant {
      position: relative;
      margin: 0 -20px 0 -20px;
    }
    
    .section2__slider-img {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
      margin-bottom: 0;
      padding: 0px;
    }
    
    .section2__text {
      margin: 30px auto 100px;
      width: 933px;
      height: 126px;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      text-align: center;
      color: #000000;
    }
    
    .section3__title {
      margin-top: 200px;
    }
    
    .section3__slider,
    .section5__slider {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .section3__slider-img,
    .slider-ul {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 0;
      padding: 0px;
      max-width: 1012px;
    }
    
    .zoo-panda,
    .zoo-aligator,
    .zoo-gorila,
    .zoo-elephant,
    .zoo-polar-bear,
    .zoo-eagle,
    .zoo-owl,
    .zoo-penguin {
      width: 233px;
      height: 300px;
      margin-left: 10px;
      margin-top: 30px;
      margin-right: 10px;
    }
    
    .zoo-panda {
      background-image: url(../assets/zoo-panda.png);
    }
    
    .zoo-aligator {
      background-image: url(../assets/zoo-aligator.png);
    }
    
    .zoo-gorila {
      background-image: url(../assets/zoo-gorila.png);
    }
    
    .zoo-elephant {
      background-image: url(../assets/zoo-elephant.png);
    }
    
    .zoo-polar-bear {
      background-image: url(../assets/zoo-polar-bear.png);
    }
    
    .zoo-eagle {
      background-image: url(../assets/zoo-eagle.png);
    }
    
    .zoo-owl {
      background-image: url(../assets/zoo-owl.png);
    }
    
    .zoo-penguin {
      background-image: url(../assets/zoo-penguin.png);
    }
    
    .slider-img__img-text {
      padding-top: 15px;
      font-family: 'Roboto', sans-serif;
      font-style: initial;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      color: #FFFFFF;
    }
    
    .slider__arow-left,
    .slider__arow-right {
      position: relative;
      display: flex;
      margin-top: 48px;
      background-image: url(../assets/Arrow.svg);
      height: 64px;
      width: 64px;
    }
    
    .slider__arow-right {
      transform: scale(-1, 1);
    }
    
    .section3__button {
      margin: 50px auto 100px;
    }
    
    .section4__title {
      margin-top: 200px;
    }
    
    .section4__instructions {
      margin-top: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url(../assets/Arrows.svg);
      background-position: center;
      background-repeat: no-repeat;
    }
    
    .instructions__pay-card,
    .instructions__bank,
    .instructions__panda {
      margin: 40px 23px 0px 23px;
      width: 320px;
      height: 276px;
    }
    
    .instructions__text {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #000000;
      margin-top: -45px;
    }
    
    .section5__title {
      margin-top: 200px;
    }
    
    .section5__slider {
      margin-top: 80px;
    }
    
    .slider-ul__testimonial {
      height: 369px;
      width: 223px;
      margin: 0 10px;
      background-color: #A7E1FF;
    }
    
    .testimonial__text {
      padding: 20px;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      color: #000000;
    }
    
    .testimonial__user {
      padding: 20px 0 0 20px;
      display: flex;
      align-items: center;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 120%;
      color: #000000;
    }
    
    .nickname-donate {
      padding-left: 10px;
    }
    
    .user__donate {
      padding-top: 5px;
      display: flex;
      align-items: center;
    }
    
    .user__donate img {
      padding-right: 3px;
    }
    
    .section5__button {
      margin: 50px auto 30px;
    }
    
    footer {
      background-image: url(../assets/background-footer.png);
      background-repeat: no-repeat;
      background-position: center;
      height: 342px;
      width: 100%;
      position: absolute;
    }
    
    .footer__bg {
      background-color: #DFF5B0;
      height: 270px;
      width: 100%;
      bottom: 0;
      position: absolute;
    }
    
    .footer__content {
      margin-top: 70px;
    }
    
    .nav__ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    .footer__button {
      padding: 15px 30px 15px;
    }
    
    .ul__ul {
      align-items: center;
    }
    
    .ul1 {
      margin-left: 3.65%;
    }
    
    .ul__li1 {
      margin-bottom: 15px;
    }
    
    .ul__link {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .ul__link li {
      margin-left: 10px;
      margin-right: 0;
    }
    
    footer .nav__ul li {
      margin-right: 0;
    }
    
    .content__lvl2 {
      margin-top: 70px;
      display: flex;
      justify-content: space-between;
      vertical-align: bottom;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      align-items: flex-end;
    }
    
    .content__lvl2 ul {
      display: flex;
      justify-content: space-between;
      width: 295px;
    }
    
    .copyrate {
      margin-right: 6.25%;
    }
    
    a button:hover,
    .slider__arow-right:hover,
    .slider__arow-left:hover,
    .section3__slider-img figure:hover,
    .ul__link img:hover,
    .logo:hover {
      cursor: pointer;
      transform: scale(1.1);
      transition: 0.3s;
    }
    
    .slider__arow-right:hover {
      transition: 0.3s;
      transform: scale(-1.1, 1.1);
    }
    
    a:hover {
      text-shadow: #70CB0E 0px 0px 2px;
    }