.centre {
  margin: 0 auto;
}

h1 {
  display: none;
}

header {
  height: 80px;
  display: flex;
  align-items: center;
  max-width: 1160px;
}

.nav__header {
  display: flex;
  align-items: center;
}

.nav__header li {
  margin-right: 35px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.logo {
  margin-right: 22px;
}

li a {
  text-decoration: none;
}

li a:link,
li a:active,
li a:visited {
  color: #000000;
}

.about {
  text-shadow: #70cb0e 0px 0px 2px;
  margin-left: 22px;
  pointer-events: none;
}
.nav__header :last-child {
  margin-right: 0;
}
.background-section1 {
  top: 0;
  background: url(../assets/background-panda.png),
    radial-gradient(71.89% 152.21% at 40.1% 50%, #b5e6ff 0%, #59c3fb 100%);
  height: 700px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
}

.section1__text {
  margin-top: 130px;
  max-width: 570px;
  font-family: "Noto Sans KR", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 70px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #000000;
}

button {
  background: #70cb0e;
  border: 0;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 60px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  height: 50px;
}

.section1__button {
  margin-top: 50px;
  width: 233px;
}

.section1 {
  max-width: 1160px;
}

.button__img-play {
  background: url(../assets/button-image-play.svg);
  width: 14px;
  height: 15px;
  margin: 0px 6px;
}

.section2 {
  justify-content: center;
}

.section3__title,
.section2__title,
.section4__title,
.section5__title {
  margin-top: 100px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  color: #000000;
}

.section2__slider {
  margin: 30px auto 0px;
  display: flex;
  justify-content: center;
  background: url(../assets/background-slider.png);
  height: 550px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  overflow: hidden;
}

.eagle {
  z-index: 0;
  height: 350px;
  width: 250px;
}

.tiger {
  z-index: 1;
  height: 400px;
  width: 300px;
}

.panda {
  z-index: 2;
  height: 450px;
  width: 350px;
}

.monkey {
  z-index: 1;
  height: 400px;
  width: 300px;
}

.elephant {
  z-index: 0;
  height: 350px;
  width: 250px;
}

.section2__slider-img img {
  position: relative;
  margin: 0 -10px 0 -10px;
}

.section2__slider-img {
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 0;
  padding: 0px;
}

.section2__text {
  margin: 30px auto 100px;
  width: 933px;
  height: 126px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: #000000;
}

.section3__title {
  margin-top: 200px;
}

.section3__slider,
.section5__slider {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1160px;
  flex-wrap: wrap;
}

.section3__slider-img,
.slider-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 0;
  padding: 0px;
  max-width: 1012px;
}

.section3__slider-img figure {
  width: 233px;
  height: 300px;
  margin-left: 10px;
  margin-top: 30px;
  margin-right: 10px;
  background-position: center;
}

.zoo-panda {
  background-image: url(../assets/zoo-panda.png);
}

.zoo-aligator {
  background-image: url(../assets/zoo-aligator.png);
}

.zoo-gorila {
  background-image: url(../assets/zoo-gorila.png);
}

.zoo-elephant {
  background-image: url(../assets/zoo-elephant.png);
}

.zoo-polar-bear {
  background-image: url(../assets/zoo-polar-bear.png);
}

.zoo-eagle {
  background-image: url(../assets/zoo-eagle.png);
}

.zoo-owl {
  background-image: url(../assets/zoo-owl.png);
}

.zoo-penguin {
  background-image: url(../assets/zoo-penguin.png);
}

.slider-img__img-text {
  padding-top: 15px;
  font-family: "Roboto", sans-serif;
  font-style: initial;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.slider__arow-left,
.slider__arow-right {
  position: relative;
  display: flex;
  margin: 30px 10px 0 0;
  background-image: url(../assets/Arrow.svg);
  height: 64px;
  width: 64px;
}

.slider__arow-right {
  transform: scale(-1, 1);
  margin: 30px 0 0 10px;
}

.section3__button {
  margin: 50px auto 100px;
}

.section4__title {
  margin-top: 200px;
}

.section4__instructions {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/Arrows.svg);
  background-position: center;
  background-repeat: no-repeat;
  flex-wrap: wrap;
}

.instructions__pay-card,
.instructions__bank,
.instructions__panda {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
  margin: 40px 23px 0px 23px;
  width: 320px;
  height: 276px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-position: top;
  background-repeat: no-repeat;
}

.instructions__pay-card {
  background-image: url(../assets/pay.svg);
}

.instructions__bank {
  background-image: url(../assets/bank.svg);
}

.instructions__panda {
  background-image: url(../assets/panda.svg);
}

.section5__title {
  margin-top: 200px;
}

.section5__slider {
  margin-top: 80px;
}

.slider-ul__testimonial {
  height: 369px;
  width: 233px;
  margin: 0 10px;
  background-color: #a7e1ff;
}

.testimonial__text {
  padding: 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #000000;
}

.testimonial__user {
  padding: 20px 0 0 20px;
  display: flex;
  align-items: flex-end;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
  color: #000000;
}

.nickname-donate {
  padding-left: 10px;
}

.user__donate {
  padding-top: 5px;
  display: flex;
  align-items: flex-start;
}

.user__donate img {
  padding-right: 3px;
}

.slider3 {
  margin-top: 0px;
}

.section5__button {
  margin: 50px auto 30px;
}

footer {
  background-image: url(../assets/background-footer.png);
  background-repeat: no-repeat;
  background-position: top;
  height: 342px;
  width: 100%;
  position: absolute;
}

.footer__bg {
  background-color: #dff5b0;
  height: 270px;
  width: 100%;
  bottom: 0;
  position: absolute;
}

.footer__content {
  margin-top: 70px;
  max-width: 1160px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.footer__button {
  margin-left: 60px;
  padding: 15px 30px 15px;
}

.footer__ul {
  margin-top: 5px;
  margin-left: 120px;
  align-items: center;
}

.ul1 {
  margin-left: 160px;
}

.ul__li1 {
  margin-bottom: 15px;
}

.ul__link {
  margin-left: 109px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.ul__link li {
  margin-left: 10px;
  margin-right: 0;
}

footer .footer__ul li {
  margin-right: 0;
}

.content__lvl2 {
  margin-top: 60px;
  display: flex;
  vertical-align: bottom;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  align-items: flex-end;
  justify-content: space-between;
}
.footer__text {
  margin-top: 90px;
}
.copyrate {
  margin-right: 180px;
}
.logo-no-int {
  margin-right: 55px;
}

a button:hover,
.slider__arow-right:hover,
.slider__arow-left:hover,
.section3__slider-img figure:hover,
.ul__link img:hover,
.logo:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.3s;
}

.slider__arow-right:hover {
  transition: 0.3s;
  transform: scale(-1.1, 1.1);
}

a:hover {
  text-shadow: #70cb0e 0px 0px 2px;
}

@media screen and (max-width: 1400px) {
  .section2__slider-img img {
    margin: 0 -35px 0 -35px;
  }
  .background-section1 {
    background: url(../assets/background-panda\ 1200px.png),
      radial-gradient(71.89% 152.21% at 40.1% 50%, #b5e6ff 0%, #59c3fb 100%);
    background-position: 48% 50%;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 1180px) {
  .slider__arow-left,
  .slider__arow-right {
    order: 2;
  }
  .section3__slider {
    max-width: 1080px;
  }
  .section4__instructions {
    margin: 40px auto;
    background-image: url(../assets/Arrows-640px.svg);
    background-position: 500% -90%;
    background-repeat: no-repeat;
    width: 600px;
  }
  .instructions__pay-card,
  .instructions__bank,
  .instructions__panda {
    margin: 0 10px;
    margin-top: 50px;
    height: 295px;
    width: 263px;
  }
  .instructions__panda {
    margin-top: 0px;
  }
  .section4__instructions figcaption {
    height: 57px;
    width: 192px;
  }
  .slider-ul__testimonial {
    height: 429px;
    width: 187px;
  }
  .section5__slider {
    width: 900px;
  }
  .slider-ul__testimonial {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1160px) {
  .section1,
  header {
    max-width: 600px;
  }

  .about {
    margin-left: 15px;
  }

  .footer__content {
    max-width: 600px;
  }
  footer {
    height: 432px;
  }

  .footer__bg {
    height: 360px;
  }
  .footer-order__logo-no-int {
    order: 2;
  }
  .footer-order__button {
    order: 3;
  }
  .footer__text {
    order: 4;
  }
  .copyrate {
    order: 5;
  }
  .footer__ul {
    margin-top: 12px;
    margin-left: 0;
  }
  .ul1 {
    margin-right: 30px;
    margin-left: 0;
  }
  .ul__link {
    margin-left: 25px;
  }
  .content__lvl2 {
    margin-top: 50px;
  }
  .logo-no-int {
    margin-right: 0;
  }
  .logo-rsschool {
    margin-right: 75px;
  }
  .footer__button {
    padding: 0;
    width: 207px;
    margin-top: 40px;
    margin-left: 50px;
  }
  .footer__text {
    margin: 45px 0 0 37%;
  }
  .copyrate {
    margin: 10px 0 0 15%;
  }
}
@media screen and (max-width: 1025px) {
  .section2__text {
    width: 700px;
    height: 210px;
  }
  .section3__slider {
    max-width: 780px;
  }
  .zoo-elephant,
  .zoo-penguin {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .section1__text {
    margin-top: 70px;
    max-width: 415px;
    font-size: 50px;
  }

  .section1__button {
    width: 187px;
  }

  .background-section1 {
    background: url(../assets/background-panda-640px.png),
      radial-gradient(71.89% 152.21% at 40.1% 50%, #b5e6ff 0%, #59c3fb 100%);
    background-position: right;
    background-repeat: no-repeat;
  }

  .section2__slider {
    width: 100%;
  }

  .section2__text {
    width: 540px;
    height: 210px;
  }
  .section3__slider {
    max-width: 780px;
  }
  .section3__slider-img figure {
    width: 187px;
  }

  .zoo-elephant,
  .zoo-penguin {
    display: none;
  }

  .slider-img__img-text {
    font-size: 16px;
    line-height: 19px;
  }

  .slider__arow-left,
  .slider__arow-right {
    order: 2;
  }
  .last-testimonial {
    display: none;
  }
  .section5__slider {
    width: 625px;
  }
  .section5__button {
    width: 226px;
    padding: 0;
  }
}
