.centre {
  margin: 0 auto;
}

h1 {
  display: none;
}

header {
  height: 80px;
  display: flex;
  align-items: center;
  max-width: 1160px;
}

.nav__header {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 22px;
}

.nav__header li {
  margin-right: 35px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

li a {
  text-decoration: none;
}

li a:link,
li a:active,
li a:visited {
  color: #000000;
}
.about {
  margin-left: 22px;
}
.c-us {
  width: 90px;
}
.burger button {
  width: 36px;
  height: 22px;
  background-image: url(../../assets/burger.svg);
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
}
.burger {
  display: none;
}

.zoos {
  text-shadow: #70cb0e 0px 0px 2px;
  pointer-events: none;
}

button {
  background: #70cb0e;
  border: 0;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 60px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  height: 50px;
}

h1 {
  display: none;
}
.nav__header :last-child {
  margin-right: 0;
}

main {
  min-height: calc(100vh - 342px);
}

aside {
  margin-top: 207px;
  top: 5%;
  z-index: 1;
  position: sticky;
}

.aside-close {
  height: 45px;
  width: 45px;
  background: url(../../assets/Arrow-Slider.svg);
  margin-left: 20px;
  display: none;
}

.aside-open {
  background: url(../../assets/zoos-bg-toolbar.svg);
  width: 111px;
  height: 380px;
}

.aside-close:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.3s;
}

.aside-content {
  padding-top: 13px;
  height: 352px;
  width: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.aside-animal img {
  cursor: pointer;
  height: 64px;
  width: 64px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  box-sizing: border-box;
}

.feed {
  cursor: pointer;
  height: 64px;
  width: 64px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  box-sizing: border-box;
  background-color: #70cb0e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feed img {
  height: 47px;
  width: 38px;
}

.tooltip {
  position: relative;
}

.tooltiptext {
  display: flex;
  align-items: center;
  visibility: hidden;
  height: 47px;
  width: 123px;
  background: url(../../assets/tooltipe.svg);
  background-repeat: no-repeat;
  background-position: right;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
  top: 10px;
  left: 103%;
  position: absolute;
  z-index: 1;
}

.tooltiptext span {
  padding-left: 10px;
}

.panda .tooltiptext span {
  padding-left: 15px;
}

.feed:hover,
.tooltip:hover img {
  border: 4px solid #70cb0e;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.content {
  max-width: 1160px;
  margin-top: -582px;
  padding-top: 80px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  color: #000000;
  margin: 0;
}

.content__video {
  margin-top: 80px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-video {
  width: 1160px;
  height: 653px;
}

.small-video {
  margin-top: 20px;
  width: 275px;
  height: 155px;
}
.small-videos {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 20px;
  grid-auto-flow: column;
  margin: auto;
  overflow: auto;
  scroll-behavior: smooth;
}
.small-videos::-webkit-scrollbar {
  height: 0;
}
.content__text {
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
}

.main-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  padding-bottom: 10px;
  width: 1160px;
  background-color: #a7e1ff;
  flex-wrap: wrap;
  text-align: left;
}
.main-text div {
  width: 445px;
  margin-bottom: 10px;
}

.main-text div:last-child {
  margin-right: 85px;
}

.sub-text {
  margin-bottom: 27px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sub-text1 {
  margin-right: 20px;
}

.details {
  margin-top: 20px;
  width: 530px;
  padding: 20px;
  background-color: #a7e1ff;
  text-align: left;
  height: 102px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition-property: height;
  transition-duration: 1s;
}
.details-all-text {
  height: 102px;
  transition-property: height;
  transition-duration: 1s;
  overflow-y: hidden;
}
.details__text {
  margin-top: 7px;
  width: 470px;
  height: auto;
}
.summary__text {
  text-transform: uppercase;
  cursor: pointer;
}
.details-arrow {
  width: 45px;
  height: 45px;
  background-image: url(../../assets/zoos-arow-close.svg);
  transition-property: transform;
  transition-duration: 1s;
  cursor: pointer;
}

footer {
  background-image: url(../../assets/background-footer.png);
  background-repeat: no-repeat;
  background-position: top;
  height: 342px;
  width: 100%;
  position: absolute;
}

.footer__bg {
  background-color: #dff5b0;
  height: 270px;
  width: 100%;
  bottom: 0;
  position: absolute;
}

.footer__content {
  margin-top: 80px;
  max-width: 1160px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.footer__button {
  margin-left: 60px;
  padding: 15px 30px 15px;
}

.footer__ul {
  margin-top: 5px;
  margin-left: 120px;
  align-items: center;
}

.ul1 {
  margin-left: 160px;
}

.ul__li1 {
  margin-bottom: 15px;
}

.ul__link {
  margin-left: 109px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.ul__link li {
  margin-left: 10px;
  margin-right: 0;
}

footer .footer__ul li {
  margin-right: 0;
}

.content__lvl2 {
  margin-top: 60px;
  display: flex;
  vertical-align: bottom;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  align-items: flex-end;
  justify-content: space-between;
}
.footer__text {
  margin-top: 90px;
}
.copyrate {
  margin-right: 180px;
}
.logo-no-int {
  margin-right: 55px;
}
button:hover,
.ul__link img:hover,
.logo:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.3s;
}

.slider__arow-right:hover {
  transition: 0.3s;
  transform: scale(-1.1, 1.1);
}

a:hover {
  text-shadow: #70cb0e 0px 0px 2px;
}
.btn-feed {
  margin-top: 20px;
  width: 300px;
  display: none;
}
.popup-bg {
  background: #000;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  display: none;
}
.popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 340px;
  width: 630px;
  z-index: 10;
  background: white;
  display: none;
}
.popup-content {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.popup-first {
  margin: 0 auto;
  width: 470px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.popup-second {
  margin-left: 76px;
  width: 468px;
  height: 390px;
  display: none;
}
.btn-close {
  position: absolute;
  top: 15px;
  right: 15px;
  height: 27px;
  width: 27px;
  padding: 0;
  background: url(../../assets/popup-close.svg) no-repeat center;
}
.popup-animal {
  margin-top: 60px;
  width: 470px;
  padding: 0 200px;
  height: 39px;
  text-align-last: center;
  text-align: center;
  -webkit-appearance: none;
  background: url(../assets/select-arrow.svg) #dff5b0 no-repeat 98% 50%;
  cursor: pointer;
}
.amount,
.currency,
.your-text {
  margin-top: 8px;
}
.amount {
  width: 303px;
  height: 33px;
}
.currency {
  height: 39px;
  width: 151px;
  margin-left: 8px;
  text-align-last: center;
  text-align: center;
  -webkit-appearance: none;
  cursor: pointer;
}
.your-text {
  width: 470px;
  height: 85px;
  resize: none;
}
.btn-submit,
.btn-donate,
.btn-next {
  margin-top: 20px;
  font-size: 18px;
  line-height: 21px;
  height: 40px;
}

.popup-second input[type="number"]::-webkit-outer-spin-button,
.popup-second input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.card-number {
  margin-top: 85px;
  height: 33px;
  width: 298px;
  text-align-last: center;
  text-align: center;
  margin-right: 198px;
}
.card-date {
  margin-top: 8px;
  height: 33px;
  width: 72px;
  text-align-last: center;
  text-align: center;
  margin-right: 5px;
}
.card-name {
  margin-top: 8px;
  height: 33px;
  width: 298px;
  text-align-last: center;
  text-align: center;
}
.card-cvc {
  position: relative;
  bottom: 7px;
  margin-left: 83px;
  height: 29px;
  width: 67px;
  text-align-last: center;
  text-align: center;
}
.btn-donate {
  margin: 91px auto 0;
}
.popup-third form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.popup-third {
  margin: 0 auto;
  width: 470px;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
}
.user-name {
  margin-top: 50px;
  height: 34px;
  width: 470px;
  background-color: #dff5b0;
  border: 1px solid gray;
}
.user-email {
  margin-top: 8px;
  height: 34px;
  width: 470px;
  background-color: #dff5b0;
  border: 1px solid gray;
}
.feedback-text {
  margin-top: 8px;
  width: 470px;
  height: 180px;
  resize: none;
  background-color: #dff5b0;
}
.btn-submit {
  background-color: gray;
}
@media screen and (max-width: 1589px) {
  .aside-open {
    display: none;
  }
  .aside-close {
    display: block;
  }
  .content {
    margin-top: -252px;
  }
  @media screen and (max-width: 1160px) {
    .about {
      margin-left: 15px;
    }
    header,
    .content__text,
    .content {
      max-width: 600px;
    }
    .details {
      width: 560px;
    }
    .main-text {
      width: 560px;
    }
    .content__video {
      justify-content: space-between;
    }
    .main-video {
      height: 338px;
      width: 93.75vw;
    }
    .small-video {
      height: 167px;
      width: 290px;
    }

    .footer__content {
      max-width: 600px;
    }
    footer {
      height: 432px;
    }

    .footer__bg {
      height: 360px;
    }
    .footer-order__logo-no-int {
      order: 2;
    }
    .footer-order__button {
      order: 3;
    }
    .footer__text {
      order: 4;
    }
    .copyrate {
      order: 5;
    }
    .footer__ul {
      margin-top: 12px;
      margin-left: 0;
    }
    .ul1 {
      margin-right: 30px;
      margin-left: 0;
    }
    .ul__link {
      margin-left: 25px;
    }
    .content__lvl2 {
      margin-top: 50px;
    }
    .logo-no-int {
      margin-right: 0;
    }
    .logo-rsschool {
      margin-right: 75px;
    }
    .footer__button {
      padding: 0;
      width: 207px;
      margin-top: 40px;
      margin-left: 50px;
    }
    .footer__text {
      margin: 45px 0 0 37%;
    }
    .copyrate {
      margin: 10px 0 0 15%;
    }
  }
  @media screen and (max-width: 600px) {
    .content__text,
    .content,
    header {
      max-width: 300px;
    }
    .c-us,
    .map,
    .zoos,
    .contact-us,
    .design,
    .about {
      display: none;
    }
    .burger {
      display: block;
      margin-left: 152px;
    }
    .nav__header li {
      margin-right: 0;
    }
    .details {
      height: auto;
      width: 260px;
    }
    .details-all-text {
      height: auto;
    }
    .details__text {
      width: 200px;
    }
    .main-text {
      width: 260px;
      height: 100px;
    }
    .main-text div:last-child {
      margin-right: 0;
    }
    .main-video {
      height: 169px;
      width: 93.75vw;
    }
    .small-video {
      height: 82px;
      width: 140px;
    }
    .aside-close {
      margin-left: 0;
    }
    .btn-feed {
      display: block;
    }
  }
  @media screen and (max-width: 580px) {
    .footer__content {
      margin-top: 75px;
      max-width: 300px;
    }
    footer {
      height: 814px;
    }

    .footer__bg {
      height: 742px;
    }

    .nav__footer {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }

    .footer-order__logo-no-int {
      order: 3;
    }
    .footer-order__button {
      order: 2;
    }
    .footer__text {
      order: 4;
    }
    .copyrate {
      order: 5;
    }

    .footer__ul li {
      margin-left: 5px;
    }
    .footer__ul {
      margin-top: 15px;
      margin-left: 15px;
      margin-right: 0;
    }
    .footer__ul .ul__li1 {
      margin-left: 0px;
      margin-right: 15px;
    }
    .nav__footer .logo {
      margin-right: 0px;
      margin-bottom: 33px;
    }

    .ul__link {
      margin-top: 50px;
      order: 3;
      margin-left: -15px;
    }
    .content__lvl2 {
      margin-top: 50px;
    }
    .logo-no-int {
      margin-right: 0;
      margin-top: -8px;
    }
    .logo-rsschool {
      margin-right: 60px;
    }
    .footer__button {
      padding: 0;
      width: 207px;
      margin-top: 50px;
      margin-left: -10px;
    }
    .footer__text {
      margin: 47px 0 0 0%;
    }
    .copyrate {
      margin: 12px 0 0 15%;
    }
  }
}
