body {
  margin: 0 auto;
  height: 2508px;
  max-width: 1440px;
  background-color: #02160b;
}
.content {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
}
header {
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
}
.logo {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  position: relative;
}
.logoImg {
  z-index: 2;
  height: 60px;
  width: 70px;
  border-radius: 0px;
}
.logoText {
  z-index: 2;
  margin-left: 15px;
  width: 155px;
  height: 60px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 60px;
  color: #f7f7f7;
}
nav {
  position: relative;
}
ul {
  top: 0px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
li {
  margin-left: 60px;
}
.blog,
.contacts {
  z-index: 2;
  position: relative;
  height: 60px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 60px;
  text-decoration: none;
  color: #f7f7f7;
}

.blog {
  width: 50px;
}
.contacts {
  width: 96px;
}
.search {
  z-index: 2;
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 0px;
}
.buttonSignIn {
  position: relative;
  z-index: 2;
  width: 120px;
  height: 50px;
  border: 2px solid #cd6326;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  align-items: center;
  text-align: center;
  color: #f7f7f7;
  outline: none;
}
.buttonSignIn:hover {
  background: #cd6326;
}
.buttonSignIn:active {
  background: #8f5613;
}
.blog:hover,
.contacts:hover,
.search:hover {
  background: #cd6326;
  border-radius: 10px;
}
.blog:active,
.contacts:active,
.search:active {
  background: #8f5613;
  border-radius: 10px;
}

.foxImg {
  position: absolute;
  top: 0px;
  width: 1440px;
  height: 780px;

}
h1 {
  margin-top: 100px;
  margin-bottom: 0px;
  width: 200px;
  height: 72px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 2px;
  color: #cd6326;
}
.foxText {
  margin-top: 50px;
  margin-bottom: 0px;
  width: 274px;
  height: 108px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #f7f7f7;
}
.buttonDonate {
  margin-top: 50px;
  width: 160px;
  height: 60px;
  background: #cd6326;
  border-radius: 5px;
  border: transparent;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  text-align: center;
  color: #f7f7f7;
  outline: none;
}
.buttonDonate:hover{
  background: #E39128;
}
.buttonDonate:active{
  background: #8F5613;
}