body {
  margin: 0 auto;
  height: 2508px;
  max-width: 1440px;
}
.content {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
}
header {
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
}
.logoHeader {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  position: relative;
}
.logoImg {
  z-index: 2;
  height: 60px;
  width: 70px;
  border-radius: 0px;
}
.logoText {
  z-index: 2;
  margin-left: 15px;
  width: 155px;
  height: 60px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 60px;
  color: #f7f7f7;
}
nav {
  position: relative;
}
.navHeader ul {
  top: 0px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.navHeader li {
  margin-left: 60px;
}
.blog,
.contacts {
  z-index: 2;
  position: relative;
  height: 60px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 60px;
  text-decoration: none;
  color: #f7f7f7;
}

.blog {
  width: 50px;
}
.contacts {
  width: 96px;
}
.search {
  z-index: 2;
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 0px;
}
.buttonSignIn {
  position: relative;
  z-index: 2;
  width: 120px;
  height: 50px;
  border: 2px solid #cd6326;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  align-items: center;
  text-align: center;
  color: #f7f7f7;
  outline: none;
}
.buttonSignIn:hover {
  cursor: pointer;
  background: #cd6326;
}
.buttonSignIn:active {
  cursor: pointer;
  background: #8f5613;
}
li:hover {
border-radius: 10px;
background-color:  #cd6326;
  cursor: pointer;

}
li:active{
  cursor: pointer;
  background-color: #8f5613;
}

.foxImg {
  background: #02160b;
  position: absolute;
  top: 0px;
  width: 1440px;
  height: 780px;
}
h1 {
  margin-top: 100px;
  margin-bottom: 0px;
  width: 200px;
  height: 72px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 2px;
  color: #cd6326;
}
.foxText {
  z-index: 2;
  margin-top: 50px;
  margin-bottom: 0px;
  width: 274px;
  height: 108px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #f7f7f7;
}
.buttonDonate {
  margin-top: 50px;
  width: 160px;
  height: 60px;
  background: #cd6326;
  border-radius: 5px;
  border: transparent;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  text-align: center;
  color: #f7f7f7;
  outline: none;
}
.buttonDonate:hover {
  cursor: pointer;
  background: #e39128;
}
.buttonDonate:active {
  cursor: pointer;
  background: #8f5613;
}
.bgHeaderSurvival{
  background-color: #02160b;
  height: 780px;
  width: 100%;
}
main {
  width: 1440px;
  height: 1368px;
  background: #cccccc;
  display: flex;
  flex-wrap: wrap;
}
h2 {
  margin: 0 auto;
  justify-content: center;
  position: relative;
  margin-top: 120px;
  margin-bottom: 0px;
  width: 332px;
  height: 72px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  color: #333333;
}
.sh2 {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 0px;
  width: 332px;
  height: 36px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}
.slider {
  margin-top: 120px;
  display: flex;
}
.slideLeft:hover,
.slideRight:hover {
  cursor: pointer;
  width: 5%;
  height: 5%;
}
.slideLeft:active,
.slideRight:active {
  cursor: pointer;
  width: 30px;
  height: 70px;
}
.slideLeft,
.slideRight {
  width: 30px;
  height: 70px;
  border-radius: 0px;
  padding-top: 147px;
}
.slideLeft,
.deer,
.squirell,
.bird {
  margin-right: 60px;
}
.deer {
  background: url(assets/deer.jpg);
}
.squirell {
  background: url(assets/sqirell.jpg);
}
.bird {
  background: url(assets/bird.jpg);
}

.deer,
.squirell,
.bird {
  width: 300px;
  height: 360px;
  border-radius: 0px;
}

h4 {
  margin: 247px auto 0px;
  width: 85px;
  height: 36px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #f7f7f7;
}
.imgText {
  margin: 10px auto;
  width: 190px;
  height: 27px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 27px;
  text-align: center;
  color: #f7f7f7;
}
h3 {
  margin: 239px auto 0px;
  width: 530px;
  height: 41px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 40px;
  text-align: center;
  color: #333333;
}
form {
  display: flex;
  justify-content: center;
  margin: 59px auto 0px;
  height: 60px;
}
.inputText {
  border: 1px solid #666666;
  border-radius: 5px 0px 0px 5px;
  padding: 0;
  margin: 0;
  opacity: 0.5;
  width: 525px;
  height: 58px;
  outline: none;
  padding-left: 15px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  color: #666666;
}
.inputText::placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  color: #666666;
}
.inputButton {
  cursor: pointer;
  width: 120px;
  height: 61px;
  background: #cd6326;
  border: 1px solid #cd6326;
  border-radius: 0px 5px 5px 0px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  color: #f7f7f7;
  outline: none;
}
.inputButton:hover {
  background: #e39128;
}
.inputButton:active {
  background: #8f5613;
}
footer {
  position: absolute;
  width: 1440px;
  height: 360px;
  z-index: 1;
  justify-content: space-between;
  background: #181617 url(assets/Footer.svg);
}
.logoFooter {
  display: flex;
  position: relative;
}
.navFooter {
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
}
.footerUl li a{
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 60px;
  height: 60px;
  color: #f7f7f7;
  text-decoration: none;
}
.articles,
.aboutUs,
.learnMore {
  margin-right: 85px;
}
.articles {
  width: 80px;
}
.aboutUs {
  width: 100px;
}
.learnMore {
  width: 129px;
}
.fb {
  background: url(assets/Facebook.svg);
  width: 40px;
  height: 40px;
  margin: 0px 13px 0px 35px;
}
.inst {
  background: url(assets/inst.svg);
  width: 40px;
  height: 40px;
  margin: 0px 13px;
}
.pin {
  background: url(assets/pin.svg);
  width: 40px;
  height: 40px;
  margin: 0px 13px;
}
.tel {
  background: url(assets/telegramm.svg);
  width: 40px;
  height: 40px;
  margin: 0px 0px 0px 13px;
}
.footerUl {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  display: flex;
  align-items: center;
}
.link{
 display: block;
}